<form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <legend>
        <center>
          <h4><b>MONEY WITH MEANING FUND,LLC
</b></h4>
          <h5>Investment Information
          </h5>
        </center>
      </legend>
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="full_name" placeholder="Full Name" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 inputGroupContainer">
          <div class="control-input-group">
            I am investing as:

          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="department" class="form-control selectpicker">
      <option value="">– Individual or Joint
Subscribers</option>
      <option>IRA Account</option>
      <option>- Entity and
Trust Subscribersk</option>

    </select>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>

      <!-- Button -->
      <div align='center'> <button onsubmit="return do()" class="btn btn--stripe">Invest Now</button></div>

    </fieldset>
  </form>
</div>
<!-- /.container -->